@tailwind base;
@tailwind components;
@tailwind utilities;

/* THEME COLORS */
/* Green: #364528 */


.bg-leaves {
  background: url("../../public/leaves_bw.jpg") no-repeat cover;
  background-image: url("../../public/leaves_bw.jpg");
  background-color: #364528;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.fadeInAnimation {
  animation: 2s ease-out 0s 1 fadeIn;
}